# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import the API key.
import os
from dotenv import load_dotenv
load_dotenv()

google_API_Key=os.getenv("google_API_Key")

In [2]:
# Configure gmaps
gmaps.configure(api_key=google_API_Key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [3]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")

# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Hilo,US,19.7297,-155.0900,80.33,72,0,6.91,clear sky
1,1,Port Elizabeth,ZA,-33.9180,25.5701,61.11,77,0,9.22,clear sky
2,2,Port Alfred,ZA,-33.5906,26.8910,60.19,86,30,3.00,scattered clouds
3,3,Vaini,TO,-21.2000,-175.2000,82.56,74,20,5.75,few clouds
4,4,Punta Arenas,CL,-53.1500,-70.9167,46.51,66,40,23.02,scattered clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [6]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 110

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [7]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.tail(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
160,160,Kaeo,NZ,-35.1000,173.7833,68.00,85,80,5.01,broken clouds
163,163,Samarai,PG,-10.6167,150.6667,86.63,69,65,15.21,broken clouds
165,165,Aguimes,ES,27.9054,-15.4461,69.66,43,0,6.91,clear sky
166,166,Chake Chake,TZ,-5.2459,39.7666,75.78,87,2,5.88,clear sky
167,167,Labuhan,ID,-6.8844,112.2051,82.08,75,100,11.45,heavy intensity rain
169,169,Ondjiva,AO,-17.0667,15.7333,78.94,32,99,3.83,overcast clouds
170,170,Kavieng,PG,-2.5744,150.7967,85.03,62,100,8.21,overcast clouds
172,172,Carauari,BR,-4.8828,-66.8958,74.62,93,100,3.38,light rain
177,177,Australind,AU,-33.2667,115.7167,77.72,30,100,11.79,overcast clouds
178,178,Kloulklubed,PW,7.0419,134.2556,83.28,76,96,17.11,overcast clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [8]:
# Check for empty row 
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [9]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities_df = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities_df.tail(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
160,160,Kaeo,NZ,-35.1000,173.7833,68.00,85,80,5.01,broken clouds
163,163,Samarai,PG,-10.6167,150.6667,86.63,69,65,15.21,broken clouds
165,165,Aguimes,ES,27.9054,-15.4461,69.66,43,0,6.91,clear sky
166,166,Chake Chake,TZ,-5.2459,39.7666,75.78,87,2,5.88,clear sky
167,167,Labuhan,ID,-6.8844,112.2051,82.08,75,100,11.45,heavy intensity rain
169,169,Ondjiva,AO,-17.0667,15.7333,78.94,32,99,3.83,overcast clouds
170,170,Kavieng,PG,-2.5744,150.7967,85.03,62,100,8.21,overcast clouds
172,172,Carauari,BR,-4.8828,-66.8958,74.62,93,100,3.38,light rain
177,177,Australind,AU,-33.2667,115.7167,77.72,30,100,11.79,overcast clouds
178,178,Kloulklubed,PW,7.0419,134.2556,83.28,76,96,17.11,overcast clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [10]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df=clean_travel_cities_df[["City","Country","Max Temp","Current Description","Lat","Lng"]]

# Display sample data
hotel_df.head(10)

              City Country  Max Temp Current Description      Lat       Lng
0             Hilo      US     80.33           clear sky  19.7297 -155.0900
3            Vaini      TO     82.56          few clouds -21.2000 -175.2000
6          Mataura      NZ     71.82          light rain -46.1927  168.8643
12       Mount Isa      AU     85.77       broken clouds -20.7333  139.5000
13         Rikitea      PF     74.82       broken clouds -23.1203 -134.9692
23           Kapaa      US     80.10          few clouds  22.0752 -159.3190
32        Kirakira      SB     85.35    scattered clouds -10.4544  161.9205
35       Redcliffe      AU     87.44       broken clouds -27.2307  153.0973
36      Butaritari      KI     81.68          few clouds   3.0707  172.7902
40  Saint-Philippe      RE     67.59          light rain -21.3585   55.7679

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [11]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df.loc["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

/Users/ericagutierrez/opt/anaconda3/envs/pythondata/lib/python3.7/site-packages/pandas/core/indexing.py:723: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

              City Country Max Temp Current Description      Lat       Lng
0             Hilo      US    80.33           clear sky  19.7297   -155.09
3            Vaini      TO    82.56          few clouds    -21.2    -175.2
6          Mataura      NZ    71.82          light rain -46.1927  168.8643
12       Mount Isa      AU    85.77       broken clouds -20.7333     139.5
13         Rikitea      PF    74.82       broken clouds -23.1203 -134.9692
23           Kapaa      US     80.1          few clouds  22.0752  -159.319
32        Kirakira      SB    85.35    scattered clouds -10.4544  161.9205
35       Redcliffe      AU    87.44       broken clouds -27.2307  153.0973
36      Butaritari      KI    81.68          few clouds   3.0707  172.7902
40  Saint-Philippe      RE    67.59          light rain -21.3585   55.7679

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [12]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": google_API_Key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [13]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

/Users/ericagutierrez/opt/anaconda3/envs/pythondata/lib/python3.7/site-packages/pandas/core/indexing.py:1684: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = infer_fill_value(value)
/Users/ericagutierrez/opt/anaconda3/envs/pythondata/lib/python3.7/site-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [14]:
# Display sample data
hotel_df.tail(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
163,Samarai,PG,86.63,broken clouds,-10.6167,150.6667,Nuli Sapi
165,Aguimes,ES,69.66,clear sky,27.9054,-15.4461,Hotel Villa de Aguimes
166,Chake Chake,TZ,75.78,clear sky,-5.2459,39.7666,Pemba Sea View Hotel
167,Labuhan,ID,82.08,heavy intensity rain,-6.8844,112.2051,DoubleFAG
169,Ondjiva,AO,78.94,overcast clouds,-17.0667,15.7333,COMBUESA
170,Kavieng,PG,85.03,overcast clouds,-2.5744,150.7967,Nusa Island Retreat
172,Carauari,BR,74.62,light rain,-4.8828,-66.8958,Hotel Fellip
177,Australind,AU,77.72,overcast clouds,-33.2667,115.7167,Australind Tourist Park
178,Kloulklubed,PW,83.28,overcast clouds,7.0419,134.2556,Storyboard Beach Resort
Hotel Name,,,,,,,NaN

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [15]:
#Check for missing values in 'Hotel Name'
print (hotel_df['Hotel Name'])

0                   Hilo Hawaiian Hotel
3                   Keleti Beach Resort
6                         Ellie's Villa
12            ibis Styles Mt Isa Verona
13                      People ThankYou
                        ...
170                 Nusa Island Retreat
172                        Hotel Fellip
177             Australind Tourist Park
178             Storyboard Beach Resort
Hotel Name                          NaN
Name: Hotel Name, Length: 68, dtype: object

In [16]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df =hotel_df.dropna()

# Display sample data
clean_hotel_df.tail(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
160,Kaeo,NZ,68.0,broken clouds,-35.1,173.7833,Bushido Lodge
163,Samarai,PG,86.63,broken clouds,-10.6167,150.6667,Nuli Sapi
165,Aguimes,ES,69.66,clear sky,27.9054,-15.4461,Hotel Villa de Aguimes
166,Chake Chake,TZ,75.78,clear sky,-5.2459,39.7666,Pemba Sea View Hotel
167,Labuhan,ID,82.08,heavy intensity rain,-6.8844,112.2051,DoubleFAG
169,Ondjiva,AO,78.94,overcast clouds,-17.0667,15.7333,COMBUESA
170,Kavieng,PG,85.03,overcast clouds,-2.5744,150.7967,Nusa Island Retreat
172,Carauari,BR,74.62,light rain,-4.8828,-66.8958,Hotel Fellip
177,Australind,AU,77.72,overcast clouds,-33.2667,115.7167,Australind Tourist Park
178,Kloulklubed,PW,83.28,overcast clouds,7.0419,134.2556,Storyboard Beach Resort

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [17]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [18]:
# Set the file name.
output_data_file = '/Users/ericagutierrez/Desktop/AnalysisProjects/World_Weather_Analysis/World_Weather_Analysis/Vacation_Search/WeatherPy_vacation.csv'

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [19]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [20]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Hilo Hawaiian Hotel</dd>\n<dt>City</dt><dd>Hilo</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>clear sky and 80.33 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Keleti Beach Resort</dd>\n<dt>City</dt><dd>Vaini</dd>\n<dt>Country</dt><dd>TO</dd>\n<dt>Current Weather</dt><dd>few clouds and 82.56 °F</dd>\n</dl>\n',
 "\n<dl>\n<dt>Hotel Name</dt><dd>Ellie's Villa</dd>\n<dt>City</dt><dd>Mataura</dd>\n<dt>Country</dt><dd>NZ</dd>\n<dt>Current Weather</dt><dd>light rain and 71.82 °F</dd>\n</dl>\n",
 '\n<dl>\n<dt>Hotel Name</dt><dd>ibis Styles Mt Isa Verona</dd>\n<dt>City</dt><dd>Mount Isa</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>broken clouds and 85.77 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>People ThankYou</dd>\n<dt>City</dt><dd>Rikitea</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>broken clouds and 74.82 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sheraton Kauai Coconut Beach Resort</dd>\n<dt>City</dt><dd>Kapaa</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>few clouds and 80.1 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>SanBiz Lodge</dd>\n<dt>City</dt><dd>Kirakira</dd>\n<dt>Country</dt><dd>SB</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 85.35 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Scarborough Beach Resort</dd>\n<dt>City</dt><dd>Redcliffe</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>broken clouds and 87.44 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Isles Sunset Lodge</dd>\n<dt>City</dt><dd>Butaritari</dd>\n<dt>Country</dt><dd>KI</dd>\n<dt>Current Weather</dt><dd>few clouds and 81.68 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Le four à pain</dd>\n<dt>City</dt><dd>Saint-Philippe</dd>\n<dt>Country</dt><dd>RE</dd>\n<dt>Current Weather</dt><dd>light rain and 67.59 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [21]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
0   19.7297   -155.09
3     -21.2    -175.2
6  -46.1927  168.8643
12 -20.7333     139.5
13 -23.1203 -134.9692
23  22.0752  -159.319
32 -10.4544  161.9205
35 -27.2307  153.0973
36   3.0707  172.7902
40 -21.3585   55.7679

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [22]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# Create a figure to add the Google map as a layer

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))